:root{
    /*Colores*/
    --dark-red: #8a0000;
    --pink: #CB4F6A;
    --light-pink: #FFD3DC;
    --background: #FAF0F2;

    /*Tipografías*/
    --header-font-family: 'Playfair Display', serif;
    --body-font-family: 'Cormorant Garamond', serif;

    /*Tamaños*/
    --menu: 4vh;
    --bold: 700;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: var(--body-font-family);
}

h1{
    font-family: var(--header-font-family);
}