/*Navbar.css*/
.hamburguesa{
    margin: 10px;
    border: 5px solid var(--dark-red);
    border-radius: 10px;
    color: var(--dark-red);
    cursor: pointer;
}

.navMenu{
    position: absolute;
    background-color: var(--background);
    top: 80px;
    z-index: 100;
    color: var(--pink);
    border: 2px solid var(--dark-red);
    transform: translateX(-100%);
    transition: transform 0.6s;
    width: 100%;
    padding: 32px;
    list-style-type: none;
    margin: 0px;
    align-items: center;
    box-sizing: border-box;
}

.navMenu.activo{
    transform: translateX(0);
}

.navMenu a{
    text-decoration: none;
    color: var(--pink);
    
    font-size: var(--menu);
    font-weight: var(--bold);
    font-family: var(--header-font-family);
    line-height: 1.4;
    letter-spacing: 0.5px; 
    
    padding: 0px 40px;
}

.filaMenu{
    background-color: var(--light-pink);
    
    margin: 20px 0px;
    padding: 10px;
}

.navbarDesktop{
    display: none;
}

.logo-escritorio{
    display: none;
}

.logo{
    height: 50px;
    width: auto;
}

@media (min-width: 1024px) {
    .navTop{
        display: none;
    }
    
    .navMenu{
        transform: translateX(0);
        transition: 0s;
        border: 0px;
        top: 0px;
        position: sticky;
        padding: 0px;        
        list-style-type: none;
        display: flex;
        gap: 50px;
        justify-content: space-around;
    }

    .navMenu a{
        background-color: var(--background);
    }

    .logo-escritorio{
        display: inline;
        width: 20%;
        text-align: center;
    }

    .filaMenu{
        background-color: var(--background);
    }

}